<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.galaxy.film.mapper.ActorMapper">

    <!-- int insert(Actor actor); -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO fms_actor(name, photo)
        VALUES (#{name}, #{photo})
    </insert>

    <!-- int deleteById(Long id); -->
    <delete id="deleteById">
        DELETE
        FROM fms_actor
        WHERE id = #{id}
    </delete>

    <!-- int updateById(Album album); -->
    <update id="updateById">
        UPDATE
        fms_actor
        <set>
            <if test="name != null">
                name=#{name},
            </if>
            <if test="photo != null">
                photo=#{photo},
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <!-- int count(); -->
    <select id="count" resultType="int">
        SELECT count(*)
        FROM fms_actor
    </select>

    <!-- int countByName(String name); -->
    <select id="countByName" resultType="int">
        SELECT count(*)
        FROM fms_actor
        WHERE name = #{name}
    </select>

    <!-- FileStandardVO getStandardById(Long id); -->
    <select id="getStandardById" resultMap="StandardResultMap">
        SELECT
        <include refid="StandardQueryFields"/>
        FROM
        fms_actor
        WHERE
        id=#{id}
    </select>

    <sql id="StandardQueryFields">
        <if test="true">
            id, name, photo
        </if>
    </sql>

    <resultMap id="StandardResultMap" type="cn.tedu.galaxy.commons.pojo.film.vo.ActorStandardVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="photo" property="photo"/>
    </resultMap>

    <!--List<FileListItemVO> list();-->
    <select id="list" resultMap="ListItemResultMap">
        SELECT
        <include refid="ListItemQueryFields"/>
        FROM
        fms_actor
        ORDER BY
        id=#{id}
    </select>

    <sql id="ListItemQueryFields">
        <if test="true">
            id, name, photo
        </if>
    </sql>

    <resultMap id="ListItemResultMap" type="cn.tedu.galaxy.commons.pojo.film.vo.ActorListItemVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="photo" property="photo"/>
    </resultMap>

</mapper>