<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.galaxy.film.mapper.FilmActorMapper">

    <!-- int insert(Film film); -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO fms_film_actor(film_id, actor_id)
        VALUES (#{filmId}, #{actorId})
    </insert>

    <!-- int deleteById(Long id); -->
    <delete id="deleteById">
        DELETE
        FROM fms_film_actor
        WHERE id = #{id}
    </delete>

    <!-- int updateById(Album album); -->
    <update id="updateById">
        UPDATE
        fms_film_actor
        <set>
            <if test="filmId != null">
                film_id=#{filmId},
            </if>
            <if test="actorId != null">
                actor_id=#{actorId},
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <!-- int count(); -->
    <select id="count" resultType="int">
        SELECT count(*)
        FROM fms_film_actor
    </select>

    <!-- FileStandardVO getStandardById(Long id); -->
    <select id="getStandardById" resultMap="StandardResultMap">
        SELECT
        <include refid="StandardQueryFields"/>
        FROM
        fms_film_actor
        WHERE
        id=#{id}
    </select>

    <sql id="StandardQueryFields">
        <if test="true">
            id, film_id, actor_id
        </if>
    </sql>

    <resultMap id="StandardResultMap" type="cn.tedu.galaxy.commons.pojo.film.vo.FilmActorStandardVO">
        <id column="id" property="id"/>
        <result column="film_id" property="filmId"/>
        <result column="actor_id" property="actorId"/>
    </resultMap>

    <!--List<FileListItemVO> list();-->
    <select id="list" resultMap="ListItemResultMap">
        SELECT
        <include refid="ListItemQueryFields"/>
        FROM
        fms_film_actor
        ORDER BY
        id=#{id}
    </select>

    <sql id="ListItemQueryFields">
        <if test="true">
            id, film_id, actor_id
        </if>
    </sql>

    <resultMap id="ListItemResultMap" type="cn.tedu.galaxy.commons.pojo.film.vo.FilmActorListItemVO">
        <id column="id" property="id"/>
        <result column="film_id" property="filmId"/>
        <result column="actor_id" property="actorId"/>
    </resultMap>


</mapper>