<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.galaxy.film.mapper.ScreenSeatMapper">

    <!-- int insert(Film film); -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO fms_screen_seat(screen_id, ro, co)
        VALUES (#{screenId}, #{ro}, #{co})
    </insert>

    <!-- int deleteById(Long id); -->
    <delete id="deleteById">
        DELETE
        FROM fms_screen_seat
        WHERE id = #{id}
    </delete>

    <!-- int updateById(Album album); -->
    <update id="updateById">
        UPDATE
        fms_screen_seat
        <set>
            <if test="screenId != null">
                screen_id=#{screenId},
            </if>
            <if test="ro != null">
                ro=#{ro},
            </if>
            <if test="co != null">
                co=#{co},
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <!-- int count(); -->
    <select id="count" resultType="int">
        SELECT count(*)
        FROM fms_screen_seat
    </select>

    <!-- FileStandardVO getStandardById(Long id); -->
    <select id="getStandardById" resultMap="StandardResultMap">
        SELECT
        <include refid="StandardQueryFields"/>
        FROM
        fms_screen_seat
        WHERE
        id=#{id}
    </select>

    <sql id="StandardQueryFields">
        <if test="true">
            id,screen_id, ro, co
        </if>
    </sql>

    <resultMap id="StandardResultMap" type="cn.tedu.galaxy.commons.pojo.film.vo.ScreenSeatStandardVO">
        <id column="id" property="id"/>
        <result column="screen_id" property="screenId"/>
        <result column="ro" property="ro"/>
        <result column="co" property="co"/>
    </resultMap>

    <!--List<FileListItemVO> list();-->
    <select id="list" resultMap="ListItemResultMap">
        SELECT
        <include refid="ListItemQueryFields"/>
        FROM
        fms_screen_seat
        ORDER BY
        id=#{id}
    </select>

    <sql id="ListItemQueryFields">
        <if test="true">
            id,screen_id, ro, co
        </if>
    </sql>

    <resultMap id="ListItemResultMap" type="cn.tedu.galaxy.commons.pojo.film.vo.ScreenSeatListItemVO">
        <id column="id" property="id"/>
        <result column="screen_id" property="screenId"/>
        <result column="ro" property="ro"/>
        <result column="co" property="co"/>
    </resultMap>


</mapper>